<div class="slide-wrap">
                <ul id="slideList" class="slide-list" data-size="5">
                    <li id="block00" data-index="0">
                    <a href="/h/sougou//question/?qid=6297164212427227622&ch=ww.sy.hot1&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/d53bd1873a9445d2aa149ae7e2a86f82.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>搜狗问问“达人”招募开启啦！</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block01" data-index="1">
                    <a href="/h/sougou//question/?qid=6290734455749806028&ch=ww.sy.hot2&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/45bb410cd58c4f45b6cfa7e079f6abfe.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>动物的嘴巴都什么样，又有什么用？</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block02" data-index="2">
                    <a href="/h/sougou//question/?qid=6297274350144261971&ch=ww.sy.hot3&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/3dd1e9babea641798c22e2d2ec6ea8fb.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>“戏精本精”可怕还是“智障本障”可怕？</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block03" data-index="3">
                    <a href="/h/sougou//question/?qid=6296903281625468528&ch=ww.sy.hot4&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/89afe471dd5d4da8be41cf90702b0bd9.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>刀塔Ti7结束 一亿五千万奖金如何分配？</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block04" data-index="4">
                    <a href="/h/sougou//question/?qid=6295040223949032178&ch=ww.sy.hot5&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/64fd8bf3992d4e26ba71f3929859611e.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>中国主要地震带是哪里？</h2>
                    </div>
                    </a>
                    </li>
                    <li class="active" id="block15" data-index="5">
                    <a href="/h/sougou//question/?qid=6297164212427227622&ch=ww.sy.hot1&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/d53bd1873a9445d2aa149ae7e2a86f82.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>搜狗问问“达人”招募开启啦！</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block16" data-index="6">
                    <a href="/h/sougou//question/?qid=6290734455749806028&ch=ww.sy.hot2&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/45bb410cd58c4f45b6cfa7e079f6abfe.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>动物的嘴巴都什么样，又有什么用？</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block17" data-index="7">
                    <a href="/h/sougou//question/?qid=6297274350144261971&ch=ww.sy.hot3&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/3dd1e9babea641798c22e2d2ec6ea8fb.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>“戏精本精”可怕还是“智障本障”可怕？</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block18" data-index="8">
                    <a href="/h/sougou//question/?qid=6296903281625468528&ch=ww.sy.hot4&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/89afe471dd5d4da8be41cf90702b0bd9.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>刀塔Ti7结束 一亿五千万奖金如何分配？</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block19" data-index="9">
                    <a href="/h/sougou//question/?qid=6295040223949032178&ch=ww.sy.hot5&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/64fd8bf3992d4e26ba71f3929859611e.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>中国主要地震带是哪里？</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block210" data-index="10">
                    <a href="/h/sougou//question/?qid=6297164212427227622&ch=ww.sy.hot1&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/d53bd1873a9445d2aa149ae7e2a86f82.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>搜狗问问“达人”招募开启啦！</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block211" data-index="11">
                    <a href="/h/sougou//question/?qid=6290734455749806028&ch=ww.sy.hot2&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/45bb410cd58c4f45b6cfa7e079f6abfe.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>动物的嘴巴都什么样，又有什么用？</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block212" data-index="12">
                    <a href="/h/sougou//question/?qid=6297274350144261971&ch=ww.sy.hot3&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/3dd1e9babea641798c22e2d2ec6ea8fb.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>“戏精本精”可怕还是“智障本障”可怕？</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block213" data-index="13">
                    <a href="/h/sougou//question/?qid=6296903281625468528&ch=ww.sy.hot4&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/89afe471dd5d4da8be41cf90702b0bd9.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>刀塔Ti7结束 一亿五千万奖金如何分配？</h2>
                    </div>
                    </a>
                    </li>
                    <li id="block214" data-index="14">
                    <a href="/h/sougou//question/?qid=6295040223949032178&ch=ww.sy.hot5&pid=ww.sy.hot" target="_blank">
                    <img src="/h/sougou/picture/64fd8bf3992d4e26ba71f3929859611e.gif" width="1000" height="335" alt="">
                    <div class="slide-slogan">
                        <h2>中国主要地震带是哪里？</h2>
                    </div>
                    </a>
                    </li>
                </ul>
            </div>









             <div class="home-login">
                <img src="/h/sougou/picture/bg-home-login_3e8af11.jpg" width="250" height="150" alt="搜狗问问，你想知道的，这里都有">
                <div class="home-login-txt">
                    目前已解决问题
                </div>
                <div class="home-login-txt2">
                    262,071,230
                </div>
                <a href="/h/sougou/javascript:;" class="btn-home-login s_login">QQ一键登录</a>
            </div>








              <div class="slide-edge-l left_arr">
            <div class="slide-button-prev">
                <i class="slide-arrow"></i>
            </div>
        </div>
        <div class="slide-edge-r right_arr">
            <div class="slide-button-next">
                <i class="slide-arrow"></i>
            </div>
        </div>