.sub-menu-3 {
    display:none;
    padding-left: 0;
    position:absolute;
    box-shadow: 0 0 2px rgba(0,0,0,.15);
    background: #fff;
    left:160px;
    top:-16.5px;
}
.nav-contain .nav-inner li > .sub-menu > .menu-item:hover .sub-menu-3 {
    display:block;

}

.sub-menu-4 {
    display:none;
    padding-left: 0;
    position:absolute;
    box-shadow: 0 0 2px rgba(0,0,0,.15);
    background: #fff;
    left:160px;
    top:-16.5px;
}
.nav-contain .nav-inner li > .sub-menu > .menu-item:hover .sub-menu-3 > .menu-item:hover .sub-menu-4 {
    display:block;
}